<footer>
  A <a href="http://twitter.com/JaretManuel">@JaretManuel</a> &amp <a href="http://twitter.com/Abhishekap3">@Abhishekap3</a> Production | PuckDrop &copy 2012 <div class="fb-like" data-href="http://PuckDrop.net" data-send="false" data-width="450" data-show-faces="false"></div>
  </footer>