<h1>Submit "Hockey" Stuff</h1>

<h4>Submit a link to your favourite hockey article, news, video, picture, fan, rink, hockey issue... whether it is the NHL, NCAA, OHL, outdoors or Minor Hockey - it doesn't matter as long as it touches hockey!</h4> 
<h4>When you submit something "hockey", you score a goal. Fans "vote up" your submission by clicking the Green arrow next to your link and score a goal for each time... so go ahead - You are one step closer to getting your name on the PuckDrop.net "Leader Board!" </h4>

<%= render 'form' %>

<%= link_to 'Back', submissions_path %>
