#session_content {
	margin-left: 20px;
}

#sign_in {
	width: 180px;
	padding: 8px;
	border-radius: 8px;
	background-color: #39424B;
	text-align: center;
}

#alt_signon {
	position: relative;
	margin-top: 40px;
	width: 180px;
	padding: 8px;
	border-radius: 8px;
	background: #c0c2c4;
}

#sign_up{
	width: 180px;
	padding: 8px;
	border-radius: 8px;
	position: relative;
	margin-top: 40px;
	background: #83939C;
}

