// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list_submissions {
	border: 4px solid orange;
}

#list_submissions img{
	float:left;
	width: 20px;
}